<div class="column is-one-third">
    <img class="book-image" src="{{ book.book_image }}" alt="">
</div>
<div class="column book-details">
    <div *ngIf="showBookRank" class="block">
        <span class="tag is-medium is-rounded">#{{ book.rank }}</span>
    </div>
    <div class="block">
        <h2 class="title">{{ book.title | titlecase }}</h2>
        <p class="subtitle">By {{ book.author }}</p>
    </div>
    <div class="block">
        <p>{{ book.description }}</p>
    </div>
    <div class="block buttons">
        <button [ngClass]="{'is-loading':isSaving}" class="button is-link" (click)="toggleSaveBook(book)">
            <span *ngIf="book.isSaved" class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>{{ book.isSaved ? 'Saved' : 'Save' }}</span>
        </button>
    </div>
</div>