<div *ngIf="books" class="container">
    <div class="hero has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{ listTitle }}</h1>
                <h2 class="subtitle">{{ listDate | date }}</h2>
            </div>
        </div>
    </div>
    <div>
        <app-book
            class="columns books"
            *ngFor="let book of books"
            [book]="book"
            [context]="'home'"
            [isLoggedIn]="isLoggedIn"
        >
        </app-book>
    </div>
</div>
