<div class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">My Books</h1>
        </div>
    </div>
</div>

<div *ngIf="books" class="container">
    <div>
        <app-book 
            class="columns books" 
            *ngFor="let book of books" 
            [book]="book" 
            [isLoggedIn]="true"
            [context]="'profile'"
        >
        </app-book>
    </div>
</div>

<div 
    *ngIf="booksLoaded && books.length === 0" 
    class="container notification is-link is-light has-text-centered">
    <div class="mt-5 mb-5">
        <p class="is-size-1">😐</p>
        <p>You have not saved any books yet.</p>
        <a routerLink="/"><strong>Browse books</strong></a>
    </div>
</div>