<div class="columns">
    <div class="column"></div>
    <form class="column is-half-tablet" (submit)="onSubmit()">
        <h1 class="is-size-1 has-text-centered">Sign Up</h1>
        <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
                <input 
                    class="input" 
                    autocomplete="username"
                    name="email"
                    type="email" 
                    id="email" 
                    [(ngModel)]="email"
                    required
                >
            </div>
        </div>
        <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
                <input 
                    class="input" 
                    autocomplete="current-password"
                    name="password"
                    type="password" 
                    id="password" 
                    [(ngModel)]="password"
                    required
                >
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-link" type="submit" value="Sign Up">
            </div>
        </div>
    </form>
    <div class="column"></div>
</div>